body{
  background-color: black;

  color:white;

}

.thelastofus1
    {
   height: 300px ;
   text-align: center;
   float: none;
    }
.into{
  text-align: center;
  vertical-align: middle;
}
